{% block content %}

	<h1 style="text-align: center"> Add Inventory Item </h1>

	<form action="/additem" method='post'>
		<fieldset>
			<div>
				{{forms.item.label}}</br>
				{{forms.item}}</br></br>

				{{forms.stock.label}}</br>
				{{forms.stock}}</br></br>

				{{forms.Price.label}}</br>
				{{forms.Price}}</br></br>

				{{forms.submit}}</br></br>
			</div>
		</fieldset>
	</form>
	</br>

	<form action="/" method="get">
		<input type='submit' value='Inventory' />
	</from>

	{% for messages in forms.item.errors %}
		<div>{{messages}}</div>
	{% endfor %}
	{% for messages in forms.stock.errors %}
		<div>{{messages}}</div>
	{% endfor %}
	{% for messages in forms.Price.errors %}
		<div>{{messages}}</div>
	{% endfor %}

	{% if messages %}
		{{messages}}
	{% endif %}


{% endblock%}
