{% block content%}

	<h1 style="text-align: center;"> CART </h1>
	</br>
	<table border="1">
		<tr>
			<td> Item </td>
			<td> Qty </td>
			<td> Price </td>
		</tr>
		{% for items in cartList %}
		<tr>
			<td> {{items['item']}} </td>
			<td> {{items['Qty']}} </td>
			<td> {{items['Price']}} </td>
			<td>
			<form action="/viewcart" method="post">
				<input type="hidden" name="item" value="{{items['item']}}"/>
				<input type="submit" value="Remove from Cart"/>
			</form>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td><th> Sub Total : </th></td>
			<td> {{total}} </td>
		</tr>
	</table>

	</br></br>
	<form method='post' action="/">
		<input type='submit' value=' Inventory' />
	</form>


{% endblock %}
