{% block content %}

	<style>
	th, td {
		border: 1px solid black;
	}
	</style>
	<h1 style="text-align: center;"> INVENTORY </h1>
	</br>
	<table>
		{% for message in messages %}
			{{message}}
		{% endfor %}
		<tr>
			<td> Item Name </td>
			<td> Item Stock </td>
			<td> Item Quantity </td>
		</tr>
		{% for item in itemList %}
		<tr>
			<td>
				{{ item['item'] }}
			</td>
			<td>
				{{ item['stock'] }}
			</td>
			<td> {{item['Price']}}</td>
			<td>
			<form action="{{url_for('miniApp')}}" method='post'>
				<input type="text" name="quantity" />
				<input type="hidden" name="item" value="{{item['item']}}"/>
				<input type="submit" name="addcart" value="Add to Cart" />
			</form>
			</td>
		</tr>
		{% endfor %}
	</table>

	</br></br>
	<form method="get" action="/viewcart">
		<button type="submit" >Cart</button>
	</form>
	<form method="get" action="/additem">
		<button type="submit"> Add Item </button>
	</form>
	

{% endblock %}
